@model IEnumerable<SportsClub.Models.ServiceType>

@{
    ViewData["Title"] = "Index";
}

<h3>Service Type List</h3>

<p>
    <a asp-action="Create" class="float-end btn btn-primary" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
