@model List<Service>

<h2>Services</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Period</th>
            <th>ServiceType</th>
            <th>ServiceTime</th>
            <th>Description</th>
            <th>Price</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Id</td>
                <td>@service.Name</td>
                <td>@service.Period</td>
                @*<td>@service.ServiceType.Name</td>*@
                @*<td>@(service.ServiceTime != null ? service.ServiceTime.Name : "")</td>*@
                <td>@service.Description</td>
                <td>@service.Price</td>
                <td>@service.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
