@model IEnumerable<SportsClub.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h3>Services List</h3>

<p>
    <a asp-action="Create" class="float-end btn btn-primary" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ServiceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTime.Name)
                 [
                    @Html.DisplayFor(modelItem => item.ServiceTime.FromTime)
                              -
-                @Html.DisplayFor(modelItem => item.ServiceTime.ToTime)
  
                
                ]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.Name)
               

            </td>

             <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
